<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="info"
      internalLogFile="c:\temp\SmartHome\internal-nlog.txt">

    <extensions>
        <add assembly="NLog.Telegram.NetStandart" />
        <add assembly="NLog.Web.AspNetCore"/>
    </extensions>

    <variable name="icon" value="⚠️" />

    <!-- the targets to write to -->
    <targets async="true">
        <!-- write logs to file  -->
        <target xsi:type="File" name="allfile" fileName="c:\temp\SmartHome\nlog-all-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}" />

        <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
        <target xsi:type="File" name="ownFile-web" fileName="c:\temp\SmartHome\nlog-own-${shortdate}.log"
                layout="${longdate}|${event-properties:item=EventId.Id}|${uppercase:${level}}|${logger}|${message} ${exception}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />

        <target xsi:type="File" name="requests-log" fileName="c:\temp\SmartHome.Requests\nlog-requests-${shortdate}.log"
                layout="${longdate} | ${message} ${exception}" />

        <!-- write to the void aka just remove -->
        <target xsi:type="Null" name="blackhole" />

        <target xsi:type="Telegram" name="defaultTelegramTarget" layout="${var:icon} ${message}" botToken="" chatId="" />

    </targets>

    <!-- rules to map from logger name to target -->
    <rules>
        <!--All logs, including from Microsoft-->
        <logger name="*" minlevel="Error" writeTo="allfile" />

        <!--Skip Microsoft logs and so log only own logs-->
        <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />
        <logger name="*" levels="Trace,Info,Warn,Error,Fatal" writeTo="ownFile-web" />
        <logger name="*" level="Debug" writeTo="requests-log" final ="true"/>

        <!--Fatal: Telegram and other custom loggers-->
        <logger name="DefaultTelegramLogger" level="Fatal" writeTo="defaultTelegramTarget" final="true"/>
        <logger name="*" minlevel="Fatal" writeTo="defaultTelegramTarget" />
    </rules>
</nlog>